.turretButton {
    min-width: 400px;
    min-height: 90px;
    font-size: 36px;
    -unity-font: url('project://database/Assets/UI%20Toolkit/Fonts/Milk%20Kids.ttf?fileID=12800000&guid=1810ee77a5a8c694796f004e2e727cc3&type=3#Milk Kids');
    -unity-font-definition: url('project://database/Assets/UI%20Toolkit/Fonts/Milk%20Kids%20SDF.asset?fileID=11400000&guid=b561421cc93836149b6d2c13017a815e&type=2#Milk Kids SDF');
}
